*{
    margin : 0;
    padding : 0;
    font-family : 'poppins' , sans-serif;
    box-sizing: border-box;
}

body {
    background-color : #ccc;
}

footer {
    width: 100%;
    position: inherit;
    bottom: 0;
    background: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg");
    color : #fff;
    padding : 100px 0 30px ;
    border-top-left-radius :125px;
    font-size : 13px;
    line-height : 20px;
}

.row{
    width : 85%;
    margin :auto;
    display : flex;
    flex-wrap: wrap;
    align-items : flex-start;
    justify-content : space-between;
}

.columns {
    flex-basis : 20%;
    padding : 10px;
}

.columns:nth-child(2) , .columns:nth-child(3) {
    flex-basis : 15%;
}

.logo {
    width : 150px;
    height : 150px;
    margin-bottom : 30px;
}

.columns h3 {
    width : fit-content;
    margin-bottom : 40px;
    position: relative;
}

.Email-id {
    margin : fit-content;
    border-bottom : 1px solid #ccc;
    margin : 20px 0;
}

ul li {
    list-style : none;
    margin-bottom: 12px;
}

ul li a {
    text-decoration : none;
    color : #fff;
}

a:hover {
    color : rgb(81, 49, 207)
}

form {
    padding-bottom: 15px;
    display : flex;
    align-items : center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}


form .far{
    font-size:18px;
    margin-right:10px;
}


form input{
    width:100%;
    background:transparent;
    color:#ccc;
    border:0;
    outline:none;
}

form button {
    background : transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fas {
    font-size:16px;
    color: #ccc;
}

.social-icons .fa-brands {
    width: 40px;
    height: 40px;
    border-radius:50%;
    text-align: center;
    line-height: 40px;
    font-size:20px;
    color:#000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr {
    width: 90%;
    border : 0;
    border-bottom : 1px solid #ccc;
    margin : 20px auto ; 
}

.copyrights {
    text-align: center;
}

.underline {
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background: #767676;
    position : absolute;
    top : 25px;
    left: 0;
    overflow : hidden;
}

.underline span{
    width:15px;
    height:100%;
    background:#fff;
    border-radius:3px;
    position:absolute;
    top:0;
    left:10px;
    animation:moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left:-20px;
    }
    100%{
        left:100%;
    }
}